// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profit {
    margin: 10px auto 20px auto;
    th {
        text-align: left !important;
    }
    td {
        padding-left: 20px !important;
        text-align: right;
    }
}

.action {
    margin: 70px 45px 0 auto;
}