// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
    /* display: inline; */
    list-style: none;
}

.search-form {
    margin-top: 20px;

    select,input {
        margin-left: 5px;
        /* margin-right: 20px; */
    }
}

.product {
    float: left;
    height: 450px;
    margin-bottom: 50px;

    img {
        height: 120px;
        margin: 0 auto 20px;
    }
}

.profit small {
    margin: 0 10px 0 20px;
}

.ad {
    margin: 20px auto 10px;
    text-align: center;
}

.checkboxes {
    clear: left;
    margin-top: 7px;
}

table.products {
    margin-top: 85px;
}
